<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="listeners.TestNGListenerAdapter" />
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>
    <test name="AutoQA_1">
        <classes>
            <class name="SettingTest"/>
        </classes>
    </test>
</suite>